# ~/.config/ssh-dialog.yml

defaults:
    username: root

groups:
    own-servers:
	key: ~/.ssh/id_rsa
        hosts:
            server1:
                hostname: server1.domain.com
                username: root
    work-servers:
        hosts:
            server-2:
                hostname: server2.domain.com
                username: ubuntu
                port: 222
            server-3:
                hostname: 555.555.555.555
		key: ~/.ssh/id_rsa-key2

